{% extends "base.html" %}
{% block content %}
<h2>Budget Overview</h2>

<table border="1" cellpadding="10">
  <tr>
    <th>ID</th>
    <th>Project Name</th>
    <th>Department</th>
    <th>Allocated Budget</th>
    <th>Spent Amount</th>
    <th>Status</th>
  </tr>
  {% for p in projects %}
  <tr>
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.department }}</td>
    <td>₱{{ "%.2f"|format(p['allocated_budget'] or 0) }}</td>
    <td>₱{{ "%.2f"|format(p['spent'] or 0) }}</td>
    <td>{{ p.status }}</td>
  </tr>
  {% endfor %}
</table>
<h2 style="text-align:center;">Budget Allocation by Region</h2>
<div style="width: 100%; max-width: 800px; height: 600px; margin: auto;">
    <canvas id="budgetChart"
        data-labels='{{ region_labels|tojson }}'
        data-data='{{ region_data|tojson }}'></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
